/* @media screen and (max-width: 480px) {
    .css-e7l9xk {
        min-height: 186px !important; 
        margin-top: 25px ;
      }      
} */
/* Extra Small Devices (xs) - Portrait phones, less than 600px */
@media (max-width: 599.98px) {
    .css-e7l9xk {
      min-height: 186px !important; 
      margin-top: 20px;
    }
  }
  
  /* Small Devices (sm) - Landscape phones, less than 960px */
  @media (min-width: 600px) and (max-width: 959.98px) {
    .css-e7l9xk {
      min-height: 315px !important;
      margin-top: 20px; 
    }
  }
  /* Media query for iPad Pro (both portrait and landscape) */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) {

.css-e7l9xk {
  min-height: 405px  !important; /* Override min-height for iPad Pro */
 /* Example height adjustment for iPad Pro */
}
}


  